.result-container, .search-result{
    display: flex;
    align-items: center;
}

.result-container {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.results-banner{
    width: 100%;
    text-align: center;
}