.details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

.details-text-container {
    width: 100%;
}

.details-container img {
    border: 1px solid lightslategray;
}

.details-container h4{
    font-family: 'Jost', sans-serif;
}

.palette h3{
    text-align: center;
}

@media screen and (min-width: 220px) {
    .details-container img {
        height: 40vh;
        width: 60vw;
        margin: 40px 0;
    
    }
    
    .details-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: 0 7%
    }
}

@media screen and (min-width: 700px) {
    .details-container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* margin: 2% 5%; */
        width: 100%;
    }

    .details-container img {
        width: 30vw;
        padding: 10px;
        margin: 20px;
    }

    .details-text-container {
        width: 80%;
    }

    .details-text {
        width: 80%;
    }

    .palette h3{
        text-align: left;
    }
}